* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-dark: #202020;
  --color-grey-dark: #333533;
  --color-grey-light: #d6d6d6;
  --color-yellow-dark: #ffd100;
  --color-yellow-light: #ffee32;
  --color-cream: rgb(255, 255, 159);
}
body {
  background-color: var(--color-cream);
}

.container {
  position: relative;
  height: 100vh;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  place-items: center;
}
.btn {
  padding: 5px;
  border: 2px solid black;
  border-radius: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  outline: none;
  transition: 0.2s;
}
.btn:hover {
  font-weight: 600;
  letter-spacing: 3px;
}

.menu-container {
  width: 400px;
  min-height: 200px;
  margin: auto;
  padding: 1.5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background: rgb(186, 154, 4);
  background: linear-gradient(
    41deg,
    var(--color-yellow-dark),
    var(--color-yellow-light)
  );
  border: 2px solid black;
  border-radius: 20px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
}
.menu-btn {
  width: 80%;
  font-size: 2rem;
  font-weight: 500;
}
.menu-btn:hover {
  background-color: var(--color-grey-light);
}

.menu-difficulty-text {
  font-size: 2rem;
  text-transform: capitalize;
  letter-spacing: 2px;
}

.menu-difficulty {
  width: 70%;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.diff-btn {
  margin: 4px 0;
  font-size: 1.5rem;
}
.diff-btn:nth-child(1) {
  background-color: rgb(53, 245, 53);
}
.diff-btn:nth-child(2) {
  background-color: rgb(245, 242, 53);
}
.diff-btn:nth-child(3) {
  background-color: rgb(245, 53, 53);
}

.info-container {
  position: absolute;
  top: 1rem;
  left: 0;
}

.grid {
  min-height: 450px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.grid-easy {
  width: 750px;
}
.grid-medium {
  width: 950px;
}
.grid-hard {
  width: 100%;
}
.square {
  width: 150px;
  height: 150px;
  border: 2px solid var(--color-dark);
}
.grid-hard .square {
  width: 120px;
  height: 120px;
}
